{% extends 'base.html' %}
{% block title %}
  Sobre - SimPubli
{% endblock %}
{% block content %}
 <section class="our-achievement section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                    <div class="title">
                        <h2>SimPubli</h2>
                        <p>O SimPubli é uma plataforma dedicada à transparência e análise das contas públicas dos municípios do estado de São Paulo. Nosso objetivo é fornecer aos cidadãos, pesquisadores e gestores públicos ferramentas acessíveis e intuitivas para compreender e monitorar a gestão financeira municipal.</p>
                        <p>Faz parte do Projeto Integrador IV - Univesp 2025</p>
                    </div>
                </div>
            </div>
    </section>

    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">Nosso Grupo</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Grupo X
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Somos 8 alunos</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-user"></i>
                        <h3>Aluno 1</h3>
                        <p>Engenharia da Computação</p>
                    </div>
                    
                    <!-- End Single Feature -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-user"></i>
                        <h3>Aluno 1</h3>
                        <p>Engenharia da Computação</p>
                    </div>
                    
                    <!-- End Single Feature -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-user"></i>
                        <h3>Aluno 1</h3>
                        <p>Engenharia da Computação</p>
                    </div>
                    
                    <!-- End Single Feature -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-user"></i>
                        <h3>Aluno 1</h3>
                        <p>Engenharia da Computação</p>
                    </div>
                    
                    <!-- End Single Feature -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-user"></i>
                        <h3>Aluno 1</h3>
                        <p>Engenharia da Computação</p>
                    </div>
                    
                    <!-- End Single Feature -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-user"></i>
                        <h3>Aluno 1</h3>
                        <p>Engenharia da Computação</p>
                    </div>
                    
                    <!-- End Single Feature -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-user"></i>
                        <h3>Aluno 1</h3>
                        <p>Engenharia da Computação</p>
                    </div>
                    
                    <!-- End Single Feature -->
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-user"></i>
                        <h3>Aluno 1</h3>
                        <p>Engenharia da Computação</p>
                    </div>
                    
                    <!-- End Single Feature -->
                  </div>
            </div>
        </div>
    </section>
    <!-- End Features Area -->
{% endblock  %}